langchain==0.1.17 
openai==1.26.0
# huggingface_hub==0.23.0
python-dotenv==1.0.1
streamlit==1.34.0
langchain-openai==0.1.7
pypdf==4.2.0
unstructured==0.14.0
jq==1.7.0
tqdm==4.66.4
tiktoken==0.7.0
faiss-cpu==1.8.0
pinecone-client==4.1.0
newsapi-python==0.2.7
SpeechRecognition==3.10.4
elevenlabs==1.2.2
google-api-python-client==2.129.0
PyAudio==0.2.14